// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: $theme-secondary;
    background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
    .header-content {
        max-width: 500px;
        margin-bottom: 100px;
        text-align: center;
        h1 {
            font-size: 30px;
            font-weight: 500;
        }

        input {
            background-color: transparent;
            border-radius: 0px;
            border-color: white;
            padding: 20px;
            color: #fff;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #fff;
              font-weight: 200;
          }
          &:focus {
            background-color: rgba(255, 255, 255, 0.2);
        }

    }
    button {
        margin-top: 10px;
        border-radius: 0px;
        color: $theme-tertiary;
        font-size: 25px;
        &:focus {
            box-shadow: none;
        }
    }
}
.video-container {
    position:absolute;
    width: auto;
    height: auto;
    
    video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}

.device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
    .screen img {
        border-radius: 3px;
    }
}
@media (min-width: 992px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    .header-content {
        margin-bottom: 0;
        text-align: left;
        h1 {
            font-size: 50px;
        }
    }
    .device-container {
        max-width: 100%;
        margin-bottom: -260px;
    }
}
@media (max-width: 1200px) {
    .device-container {
        margin-bottom: -314px;
    }
}

@media (max-width: 992px) {
    padding-top: 0px;
    .header-content {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 140px;
    }
     .device-container {
        margin-bottom: -163px;
    }
}
}