// Styling for the navbar
#mainNav {
    position: absolute;
    border-color: fade-out($gray-darker, .95);
    background-color: rgba(255,255,255,0.2);
    @include transition-all;
    @include heading-font;
    .navbar-brand {
        color: white;
        @include body-font;
        font-weight: 200;
        font-size: 20px;
        text-transform: uppercase;
        span {
            font-weight: 800;
        }
        &:hover,
        &:focus {
            color: $theme-tertiary;
        }
    }
    .navbar-toggler {
        font-size: 31px;
        padding: 8px 10px;
        color: white;
        border: none;
        &:focus{
            outline: none;
        }
        &:hover{
            color: $theme-tertiary;
        }
    }
    .navbar-nav {
        > li {
            > a {
                font-size: 15px;
                @include alt-font;
                &.active {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: white;
                &:hover {
                    color:$theme-tertiary;
                }
            }
        }
    }
    @media (min-width: 992px) {
        .navbar-brand {
            font-size: 40px;
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: fade-out(white, .3);
            &:hover {
                color: $theme-primary;
                background-color: white;
                font-weight: 500;
            }
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: white;
            .navbar-brand {
                color: $gray-darker;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: white;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
